.single-page
  .page-title
    span
      i.fa.fa-briefcase.fa-3x
    h2 Portfolio
    p.menu-desc Some of My Works...
  .page-info.container-fluid
    .row.portfolios
      .portfolio-container
        .controls
          button.filter(data-filter='all') All
          button.filter(data-filter='.category-1') Web Design
          button.filter(data-filter='.category-2') App Development
          button.filter(data-filter='.category-3') Gaphic Design
        #portfolio.portfolio-items
          .col-sm-6.col-md-4.mix.category-1(data-myorder='Web Design')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-1.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio9') Explore
          #portfolio9.white-popup.mfp-hide
            img(src='img/portfolio/p-1.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-2(data-myorder='App Development')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-2.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio2') Explore
          #portfolio2.white-popup.mfp-hide
            img(src='img/portfolio/p-2.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-3(data-myorder='Graphic Design')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-3.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio3') Explore
          #portfolio3.white-popup.mfp-hide
            img(src='img/portfolio/p-3.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-1(data-myorder='Web Design')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-4.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio4') Explore
          #portfolio4.white-popup.mfp-hide
            img(src='img/portfolio/p-4.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-2(data-myorder='App Development')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-5.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio5') Explore
          #portfolio5.white-popup.mfp-hide
            img(src='img/portfolio/p-5.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-3(data-myorder='Graphic Design')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-6.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio6') Explore
          #portfolio6.white-popup.mfp-hide
            img(src='img/portfolio/p-6.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-1(data-myorder='Graphic Design')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-7.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio7') Explore
          #portfolio7.white-popup.mfp-hide
            img(src='img/portfolio/p-7.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-2(data-myorder='Graphic Design')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-8.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio8') Explore
          #portfolio8.white-popup.mfp-hide
            img(src='img/portfolio/p-8.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
          .col-sm-6.col-md-4.mix.category-1(data-myorder='Web Design')
            figure.effect-roxy
              img(src='img/portfolio/thumb/p-1.jpg', alt='')
              figcaption
                h2
                  | Project 
                  span Title
                p Your Awesome Project Description
                a.open-portfolio(href='#portfolio1') Explore
          #portfolio1.white-popup.mfp-hide
            img(src='img/portfolio/p-1.jpg', alt='Portfolio Image')
            h2.project-title Awesome Project Title
            p.project-desc
              | Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet torquatos temporibus te. Nam nulla fabellas similique id, eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in vel illud numquam. Evertitur consetetur voluptatum pri id, in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale appareat.
            a.project-url.btn(href='#') See Live
    .row.testimonials
      .over-div
      .sec-divider
      h2.section-title Some of my happy clients
      .col-md-8.col-md-offset-2.text-container
        #testimonial-slides.owl-carousel
          div
            blockquote
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer
              cite  Jonathan Doe
          div
            blockquote
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer
              cite  Jane Doe
          div
            blockquote
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer
              cite  John Doe
    .row.fun-facts
      ul
        li
          h3 50+
          h5 Happy Clients
        li
          h3
            i.fa.fa-bicycle
          h5 Cyclist
        li
          h3 100+
          h5 Projects Done
        li
          h3
            i.fa.fa-camera-retro
          h5 Photographer
        li
          h3 200+
          h5 Coffee Cups

    include includes/footer

