.single-page
  .page-title
    span
      i.fa.fa-user.fa-3x
    h2 Profile
    p.menu-desc A Brief About Me...
  .page-info.container-fluid
    .page-content
      .container
        .row
          .col-lg-12.col-sm-12
            .section-title.text-center.pop.animated.fadeInDown
              div(style='background-color: #cccccc;')
                span.fa.fa-user.fa-2x(style='color: #ffffff;')
              h1(style='color: #666666;')
                | ABOUT 
                span(style='background-color: rgba(59,63,80,0.6);') ME
        .row
          .col-sm-4
            .text-center.item_bottom
              img.img-center.img-responsive(src='/img/profile-img-1.jpg', alt='photo')
              .name-title(style='background-color: rgba(59,63,80,0.8);')
                h2(style='color:#ffffff;') Garrett Haptonstall 
                h5(style='color:#ffffff;') Linux Admin & Full Stack Developer 
          .col-sm-4
            p.quoteline.static-p.bold
              | Be who you are and say what you feel, because those who mind don&rsquo;t matter, and those who matter don&rsquo;t mind.
            p.sattic-p 
              | Hello, I&rsquo;m a UI/UX Designer &amp; Front End Developer from Dhaka, Bangladesh. I hold a master degree of Web Design from the St. Patrick University.
            p.static-p 
              | I currently work at Intel, where I spend most of my time crafting and working on awesome projects. Lorem ipsum dolor sit amet consectetuer Integer eleifend Curabitur id ut. Quisque Aenean ut pede id elit ligula est mollis sapien magna. Urna turpis quis sagittis at ac Sed augue habitant tortor elit. Dolor Quisque et elit aliquam vitae habitant.
            p.text-right
              a(href='http://themes.profteamsolutions.com/identity-vcard/wp-content/uploads/2014/09/signature.png')
                img.alignnone.size-full.wp-image-566(src='http://themes.profteamsolutions.com/identity-vcard/wp-content/uploads/2014/09/signature.png', alt='signature', width='190', height='50')
          .col-sm-4.wpb_column.vc_column_container
            div(style='color:#333333;')
              ul.fa-ul
                li
                  i.fa.fa-li.fa-calendar
                  strong Birthdate
                  |  : 07/21/1987
                li
                  i.fa.fa-li.fa-mobile
                  strong Phone
                  |  : +1 702-912-6814 
                li
                  i.fa.fa-li.fa-envelope-o
                  strong Email
                  |  : ghaptonstall@gmail.com
                li
                  i.fa.fa-li.fa-globe
                  strong Website
                  |  : 
                  a(href='http://www.ghap.me') www.ghap.me
                li
                  i.fa.fa-li.fa-home
                  strong Address
                  |  : 8640 Vivid Violet Ave. Las Vegas NV, 89143 

    .row.fun-facts
      ul
        li
          h3 50+
          h5 Happy Clients
        li
          h3
            i.fa.fa-bicycle
          h5 Cyclist
        li
          h3 100+
          h5 Projects Done
        li
          h3
            i.fa.fa-camera-retro
          h5 Photographer
        li
          h3 200+
          h5 Coffee Cups

    include includes/footer

