.single-page
  .page-title
    span
      i.fa.fa-file-text.fa-3x
    h2 Resume
    p.menu-desc My Academic Qualifications...
  .page-info.container-fluid
    .row.resume
      .over-div
      .container
        .col-xs-6.education
          h2 - Education -
          ul.edu-list
            li
              h3 University of Engineering
              h4 Bachelor of Science
              span 2007-2011
              p
                | Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.
            li
              h3 College of Awesomeness
              h4 A Level
              span 2005-2007
              p
                | Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.
            li
              h3 School of Amusement
              h4 O Level
              span 2000-2005
              p
                | Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.
        .col-xs-6.employment
          h2 - Employment -
          ul.employment-list
            li
              h3 Fantasy IT Kingdom
              h4 Lead Developer
              span Dec 2012 - Present
              p
                | Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.
            li
              h3 Awesome Softwares
              h4 Front-End Developer
              span Jan 2012-Dec 2012
              p
                | Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.
            li
              h3 Amazing Developers
              h4 Intern Developer
              span Jan 2011- Dec 2011
              p
                | Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.

    .row.skills
      .over-div
      .sec-divider
      h2.section-title My Key Skills
      .skill-container.container
        .row
          .col-xs-6.col-sm-4.skill
            figure
              canvas#html_css(height='150', width='150')
              |                                             
              figcaption
                | Semantic HTML5 &amp; CSS3
          .col-xs-6.col-sm-4.skill
            figure
              canvas#sass(height='150', width='150')
              |                                             
              figcaption
                | Sass
          .col-xs-6.col-sm-4.skill
            figure
              canvas#jquery(height='150', width='150')
              |                                             
              figcaption
                | jQuery
          .col-xs-6.col-sm-4.skill
            figure
              canvas#rails(height='150', width='150')
              |                                             
              figcaption
                | Ruby on Rails
          .col-xs-6.col-sm-4.skill
            figure
              canvas#backbone(height='150', width='150')
              figcaption
                | Backbone.js
          .col-xs-6.col-sm-4.skill
            figure
              canvas#photoshop(height='150', width='150')
              figcaption
                | Photoshop
    .row.recognition
      .col-sm-6.rec-desc
        .rec-inner
          h2 Recognition
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
      .col-sm-6.rec-list
        ul
          li
            span.fa.fa-trophy.fa-5x.pull-left.fa-fw
            h3 App Development Contest
            h5 Winner
            h4 Dhaka, Bangladesh
          li
            span.fa.fa-trophy.fa-5x.pull-left.fa-fw
            h3 Best Front-End Developers Award
            h5 Top Front-End Developer
            h4 San Fransisco, USA
          li
            span.fa.fa-trophy.fa-5x.pull-left.fa-fw
            h3 Awesome UI/UX Designers Award
            h5 Best UI/UX Designer
            h4 New York, USA
          li
            span.fa.fa-microphone.fa-5x.pull-left.fa-fw
            h3 UX Conference
            h5 Speaker
            h4 Dhaka, Bangladesh

    include includes/footer

