/* APPLICATION CSS 
 * @author: Garrett Haptonstall <ghap@moshyn.com> 
 *
 *
*/
* {
  font-style: normal;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

html,
body {
  padding: 30px;
  background: url('/img/main-bg.png') repeat;
}

#news {
  width: 95%;
  height: 800px;
  margin: auto;
  margin-left: 25px;
  margin-bottom: 25px;
}

.blue-btn {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  padding: .5em 2em .55em;
  cursor: pointer;
  border-radius: 4px;
}

.blue-btn:hover {
  background: #0095cd;
}

.blue-btn:active {
  background: #0095cd;
  color: #FFF;
}

.black-btn {
  color: #D7D7D7;
  font-size: 14px;
  border: 1px solid #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  text-shadow: 0px 2px 0px rgba(0,0,0,.5);
  padding: .5em 2em .55em;
  cursor: pointer;
  border-radius: 4px;
}

.black-btn:hover {
  background: #333;
}

.black-btn:active {
  background: #333;
  color: #EEE;
}

.grey-btn {

}

.white-btn {
  color: #606060;
  font-size: 12px;
  border: 1px solid #B8B8B8;
  background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  padding: .5em 2em .55em;
  cursor: pointer;
  border-radius: 4px;
  text-shadow: 0px 1px 1px rgba(0,0,0,.4);
}

.white-btn:hover {
  background: #EDEDED;
}

.white-btn:active {
  background: #EDEDED;
  color: #000;
}

.vs {
  position: absolute;
  top: 60px;
  left: 49%;
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
  font-style: italic;
  font-weight: bold;
}

.main-container {
  position: relative;
  border-radius: 10px;
  background: url('/img/content-bg.jpg') no-repeat;
  background-size: cover;
  max-width: 1150px;
  margin: auto;
  -webkit-box-shadow: 2px 2px 3px 1px #4c4c4c;
}

.main-nav {
  background: url('/img/global-nav.png') repeat-x 0 bottom #1B1B1B;
  height: 35px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.main-nav ul {
  margin: 0;
  height: 100%;
}

.main-nav ul li {
  float: left;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
  text-shadow: 0 0 2px #000;
  border-left: 1px solid rgba(255, 255, 255, 0.0976562);
  border-right: 1px solid rgba(0, 0, 0, 0.347656);
}

.main-nav ul li:hover {
  background: url(/img/bg-footer-noise.jpg) #000;
  color: #fff;
}

.main-nav ul li a {
  color: #e6e6e6;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
}

.main-nav ul li.active {
  background: url('/img/content-bg.jpg') no-repeat;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  border-top: 1px solid rgba(255, 255, 255, 0.09);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.main-nav ul li.active a {
  font-weight: normal;
  text-shadow: 1px 1px 2px #000;
}

.main-content {
  min-height: 300px;
  border-top: 1px solid rgba(255,255,255,0.09);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -1px;
}

.main-container h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000;
  color: #FFF;
}

.main-container .title-text {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #FFF;
  font-style:italic;
  margin-top: -20px;
  text-shadow: 1px 1px 1px #000;
}

.game-div {
  min-height: 250px;
  position: relative;
  margin-top: 50px;
}

.game-div .team-game {
  width: 500px;
  display: inline-block;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  -webkit-box-shadow: 1px 2px 1px #333;
}

.game-div .team-game .top {
  height: 30px;
}

.game-div .team-game .bottom {
  min-height: 65px;
}

.game-div .team-game input[type='text'] {
  padding: 5px;
  width: 150px;
  margin-right: 14px;
  margin-bottom: 5px;
}

.game-div .team-game label {
  text-shadow: 1px 1px 1px #BBBBBB;
}

.game-div .left {
  margin-left: 20px;
}

.game-div .right {
  float:right;
  margin-right: 20px;
}

.button-div {
  width: 550px;
  position: absolute;
  bottom: 0;
  left: 300px;
}

.button-div button {
  margin-left: 30px;
  font-size: 14px;
}

.results-div {
  padding: 10px 10px 50px;
  margin-top: 30px;
  background: #FFF:
}

.results-div h2 {
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
}

.results-div button {
  position: relative;
  top: -7px;
}

table {
  cursor: pointer;
  margin-bottom: 20px;
  width: 625px;
  min-height: 200px;
  border: 2px dashed #CCC;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: transparent;
}

table thead {
  height: 30px;
  background: #3598DB;
  padding: 5px;
  color: #FFF;
}

table thead th {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

table tbody {
  background: #F5F5F6;
}

table tbody tr {
  height: 30px;
  border-bottom: 1px solid #D8D8D8;
  padding: 5px;
}

table tbody tr td:hover {
  background: rgba(0,149,205,.5);
  color: #FFF;
}

table tbody tr td {
  width: 200px;
  height: 35px;
  padding: 5px;
  font-size: 15px;
  font-weight: normal;
  color: #333
}

.new-bet{
  width: 1000px;
  min-height: 150px;
  border-radius: 5px;
  background: #FFF;
  padding: 10px;
  margin: auto;
  -webkit-box-shadow: 1px 2px 1px #333;
}

.new-bet h2 {
  color: #000;
  margin: 0;
  text-shadow: 1px 1px 2px #bbb;
}

.new-bet form .form-group {
  display: inline-block;
  vertical-align: top;
  -webkit-vertical-align: top;
  margin-left: 20px;
}

.new-bet form input[type='text'] {
  width: 150px;
  padding: 5px;
  margin-bottom: 5px;
}

.new-bet form input.comment {
  width: 350px;
}
.new-bet form input.datepicker,
.new-bet form input.timepicker {
  width: 120px;
}
.new-bet form label {
  display: block;
  text-shadow: 1px 1px 1px #BBB;
  font-size: 14px;
  font-weight: normal;
  margin: 5px;
}

.new-bet .title-tab {
  position: absolute;
  top: 110px;
  color: white;
  font-size: 14px;
  height: 10px;
  padding: 10px;
  position: absolute;
  text-shadow: #BBB 1px 1px 1px;
  width: 35px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
}

.new-bet form button {
  width: 225px;
  position: relative;
  top: -8px;
  left: 30px;
}

.bet-button-div {
  width: 150px;
  margin: auto;
  margin-top: 30px;
}

.footer p {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
}
