.totals-table {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 3px 3px 5px #333;
  border:1px solid #191919;
  
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
  
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
  
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
  
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}.totals-table table{
  background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
  }.totals-table tr:last-child td:last-child {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
  }
  .totals-table thead table tr:first-child th:first-child {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
  }
  .totals-table thead table tr:first-child th:last-child {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
  }.totals-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
  }.totals-table tr:hover td{
    background-color:#91daf2;
    background:#91daf2;
  }
  .totals-table tr td:hover{
    background-color:#91daf2;
    background:#91daf2;
  }
  .totals-table th{
    padding: 7px; 
  }
  .totals-table td{
    vertical-align:middle;
    position:relative;
      background:-o-linear-gradient(bottom, #ffffff 5%, #91daf2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #91daf2) ); 
      background:-moz-linear-gradient( center top, #ffffff 5%, #91daf2 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#91daf2");  background: -o-linear-gradient(top,#ffffff,91daf2);
      background-color:#ffffff;
      border:1px solid #191919;
      border-width:0px 1px 1px 0px;
      text-align:left;
      padding:8px;
      font-size:10px;
      font-family:Arial;
      font-weight:normal;
      color:#000000;
      height: 30px;
      cursor: pointer;
    }.totals-table tr:last-child td{
      border-width:0px 1px 0px 0px;
    }.totals-table tr td:last-child{
      border-width:0px 0px 1px 0px;
    }.totals-table tr:last-child td:last-child{
      border-width:0px 0px 0px 0px;
    }
    .totals-table thead tr:first-child th{
        background:-o-linear-gradient(bottom, #37b0ce 5%, #144f73 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #37b0ce), color-stop(1, #144f73) );
        background:-moz-linear-gradient( center top, #37b0ce 5%, #144f73 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#37b0ce", endColorstr="#144f73");  background: -o-linear-gradient(top,#37b0ce,144f73);
        background-color:#37b0ce;
        border:0px solid #191919;
        text-align:center;
        border-width:0px 0px 1px 1px;
        font-size:12px;
        font-weight:bold;
        color:#ffffff;
        text-shadow: 1px 1px 1px #333;
      }
      .totals-table thead tr:first-child:hover th{
        background:-o-linear-gradient(bottom, #37b0ce 5%, #144f73 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #37b0ce), color-stop(1, #144f73) );
        background:-moz-linear-gradient( center top, #37b0ce 5%, #144f73 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#37b0ce", endColorstr="#144f73");  background: -o-linear-gradient(top,#37b0ce,144f73);
        background-color:#37b0ce;
      }
      .totals-table thead tr:first-child th:first-child{
        border-width:0px 0px 1px 0px;
      }
      .totals-table thead tr:first-child th:last-child{
        border-width:0px 0px 1px 1px;
      }

.stats-table {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.stats-table table{
    border-collapse: collapse;
          border-spacing: 0;
          width:100%;
          height:100%;
          margin:0px;padding:0px;
        }.stats-table tr:last-child td:last-child {
          -moz-border-radius-bottomright:0px;
          -webkit-border-bottom-right-radius:0px;
          border-bottom-right-radius:0px;
        }
        .stats-table table thead tr:first-child th:first-child {
          -moz-border-radius-topleft:0px;
          -webkit-border-top-left-radius:0px;
          border-top-left-radius:0px;
        }
        .stats-table table thead tr:first-child th:last-child {
          -moz-border-radius-topright:0px;
          -webkit-border-top-right-radius:0px;
          border-top-right-radius:0px;
        }.stats-table tr:last-child td:first-child{
          -moz-border-radius-bottomleft:0px;
          -webkit-border-bottom-left-radius:0px;
          border-bottom-left-radius:0px;
        }.stats-table tr:hover td{
          
        }
        .stats-table tr:nth-child(odd){ background-color:#e5e5e5; }
        .stats-table tr:nth-child(even)    { background-color:#ffffff; }.stats-table td{
          vertical-align:middle;
          border:1px solid #000000;
          border-width:0px 1px 1px 0px;
          text-align:left;
          padding:7px;
          font-size:10px;
          font-family:Arial;
          font-weight:normal;
          color:#000000;
        }.stats-table tr:last-child td{
          border-width:0px 1px 0px 0px;
        }.stats-table tr td:last-child{
          border-width:0px 0px 1px 0px;
        }.stats-table tr:last-child td:last-child{
          border-width:0px 0px 0px 0px;
        }
        .stats-table thead tr:first-child th{
            background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
            background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#cccccc,b2b2b2);
            cursor: pointer; 
            background-color:#cccccc;
            border:0px solid #000000;
            padding: 5px;
            text-align:center;
            border-width:0px 0px 1px 1px;
            font-size:14px;
            font-family:Times New Roman;
            font-weight:bold;
            color:#000000;
          }
          .stats-table thead tr:first-child:hover th{
            background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
            background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#cccccc,b2b2b2);
          
            background-color:#cccccc;
          }
          .stats-table tr:first-child th:first-child{
            border-width:0px 0px 1px 0px;
          }
          .stats-table tr:first-child th:last-child{
            border-width:0px 0px 1px 1px;
          }


.dialog-table {
  margin:0px;
  padding:0px;
  width:100%;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.dialog-table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}
.dialog-table td{
  vertical-align:middle;
  background-color: transparent;
  text-align:center;
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  padding:5px;
  font-size:12px;
  font-family:Georgia;
  font-weight:normal;
  color:#ffffff;
}
.dialog-table th {
  background-color: transparent;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Georgia;
  font-weight:bold;
  color:#ffffff;
}
