.totals-table {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #191919;
  
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
  
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
  
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
  
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}.totals-table table{
    border-collapse: collapse;
          border-spacing: 0;
          width:100%;
          height:100%;
          margin:0px;padding:0px;
        }.totals-table tr:last-child td:last-child {
          -moz-border-radius-bottomright:5px;
          -webkit-border-bottom-right-radius:5px;
          border-bottom-right-radius:5px;
        }
        .totals-table thead table tr:first-child th:first-child {
          -moz-border-radius-topleft:5px;
          -webkit-border-top-left-radius:5px;
          border-top-left-radius:5px;
        }
        .totals-table thead table tr:first-child th:last-child {
          -moz-border-radius-topright:5px;
          -webkit-border-top-right-radius:5px;
          border-top-right-radius:5px;
        }.totals-table tr:last-child td:first-child{
          -moz-border-radius-bottomleft:5px;
          -webkit-border-bottom-left-radius:5px;
          border-bottom-left-radius:5px;
        }.totals-table tr:hover td{
          background-color:#91daf2;
        }
        .totals-table th{
          padding: 10px; 
        }
        .totals-table td{
          vertical-align:middle;
            background:-o-linear-gradient(bottom, #ffffff 5%, #91daf2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #91daf2) ); 
            background:-moz-linear-gradient( center top, #ffffff 5%, #91daf2 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#91daf2");  background: -o-linear-gradient(top,#ffffff,91daf2);
          
            background-color:#ffffff;
          
            border:1px solid #191919;
            border-width:0px 1px 1px 0px;
            text-align:left;
            padding:10px;
            font-size:10px;
            font-family:Arial;
            font-weight:normal;
            color:#000000;
          }.totals-table tr:last-child td{
            border-width:0px 1px 0px 0px;
          }.totals-table tr td:last-child{
            border-width:0px 0px 1px 0px;
          }.totals-table tr:last-child td:last-child{
            border-width:0px 0px 0px 0px;
          }
          .totals-table thead tr:first-child th{
              background:-o-linear-gradient(bottom, #37b0ce 5%, #144f73 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #37b0ce), color-stop(1, #144f73) );
              background:-moz-linear-gradient( center top, #37b0ce 5%, #144f73 100% );
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#37b0ce", endColorstr="#144f73");  background: -o-linear-gradient(top,#37b0ce,144f73);
            
              background-color:#37b0ce;
              border:0px solid #191919;
              text-align:center;
              border-width:0px 0px 1px 1px;
              font-size:14px;
              font-family:Arial;
              font-weight:bold;
              color:#ffffff;
            }
            .totals-table thead tr:first-child:hover th{
              background:-o-linear-gradient(bottom, #37b0ce 5%, #144f73 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #37b0ce), color-stop(1, #144f73) );
              background:-moz-linear-gradient( center top, #37b0ce 5%, #144f73 100% );
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#37b0ce", endColorstr="#144f73");  background: -o-linear-gradient(top,#37b0ce,144f73);
            
              background-color:#37b0ce;
            }
            .totals-table thead tr:first-child th:first-child{
              border-width:0px 0px 1px 0px;
            }
            .totals-table thead tr:first-child th:last-child{
              border-width:0px 0px 1px 1px;
            }
